.carte {
    height: 90%;
    width: 50%; 
    left:2%;
    position: absolute;
    border: solid 1px black;
}

.texte {
    margin-left: 54%;
    text-align: left;
}

.localRisqueDescription {
    margin-left: 50%;
    text-align: left;
}

.graph-container {
    position: absolute;
    left: 1vw;
    top: 0vw;
    height: 35vw;
    width: 35vw;
}

.schema {
    height: 45%;
    width: 95%; 
    top: 0%;
    left:2%;
    position: absolute;
}

.schema1 {
    height: 45%;
    width: 95%; 
    top: 48%;
    left:2%;
    position: absolute;
}