.climat-container {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(255, 198, 56,0.2), rgba(255, 166, 65,1)), url("../img/paris.jpg");
    /*background: linear-gradient(0deg,  #00cdb1, #a0d8e7);*/
    background-size: cover;
    position: fixed;
    display:block;
  }

.image-bar {
    position: absolute;
    top: 8%;
    left: 22%;
    width: 65%;
    border-radius: 5px;
}

.image-liste {
  border-radius: 10px;
}

.detail-container {
  position: absolute;
  display: block;
  left:9%;
  height: 80%;
  width: 80%;
  background-color: white;
  margin: 1%;
  border-radius: 10px;
  box-shadow: 1px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  visibility: visible;
  opacity: 1;
  transition: visibility 1s linear, opacity 1s linear;
}