.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dashboard-commune-container {
  display: flex;
}

.description-commune-container {
  margin: auto;
}

.description-commune-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 14px 10px;
  font-size: 16px;
  gap: 0 10px;
}

.description-commune-label {
  font-weight: 500;
  margin: 0;
  color: #3fc1c9;
}

.description-commune-value {
  margin: 0;
  color: #364f6b;
}

.dashboard-population-container-one {
  display: flex;
  flex-direction: row;
  gap: 0 2vw;
  padding: 1vh 2vw 2vh 2vw;
}

.dashboard-population-container-two {
  padding: 1vh 2vw 2vh 2vw;
}

.home-container {
  height: 100%;
  width: 100%;
  background: url("../img/paris.jpg") left top no-repeat;
  /*background: linear-gradient(0deg,  #00cdb1, #a0d8e7);*/
  background-size: cover;
  position: fixed;
  display:block;
}

.territoire-container {
  height: 100%;
  width: 100%;
  position: fixed;
  display: block;
  background: linear-gradient(0deg,  #ffc638, #ffa641 80%);
  /* background-color: rgba(255, 198, 56, .3); */
}

.container {
  background-color: white;
  margin: 1%;
  border-radius: 10px;
  box-shadow: 1px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s linear, opacity 1s linear;
}

.label-container {
  color: black;
  text-decoration: underline;
  text-decoration-color: #ffa641;
  text-decoration-style: dotted;
  font-size: 18px;
  font-weight: 600;
  font-family: fantasy;
  margin: 0;
  padding: 10px;
}

.icon-label-container {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
}

.icon-container {
  width: 32px;
  height: 32px;
  filter: invert(80%) sepia(70%) saturate(1110%) hue-rotate(335deg)
      brightness(80%) contrast(88%);
      margin: 0;
}

.icon-commune-container {
  background: url("../img/commune.png") left top no-repeat;
}

.icon-population-container {
  background: url("../img/population.png") left top no-repeat;
}

.icon-risk-container {
  background: url("../img/risk.png") left top no-repeat;
}

.icon-immo-container {
  background: url("../img/immo.png") left top no-repeat;
}

#map-container-full-screen {
  position: absolute;
  height: 100%;
  width: 100%;
}

#map-container {
  position: absolute;
  height: 54%;
  width: 41%;
}

#commune-container {
  position: absolute;
  height: 25%;
  width: 41%;
  top: 57%;
  text-align: left;
  font-size: 14px;
}

#population-container {
  position: absolute;
  left: 42%;
  width: 27%;
  height: 54%;
  text-align: left;
  font-size: 14px;
}

#risk-container {
  position: absolute;
  height: 25%;
  width: 56%;
  left: 42%;
  top: 57%;
  text-align: left;
  font-size: 14px;
}

#immo-container {
  position: absolute;
  height: 54%;
  width: 27%;
  left: 71%;
  text-align: left;
  font-size: 14px;
}

.icon-label-container {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
}

.bouton-detail {
  left : -25px;
}

.lien-detail {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  text-transform: lowercase;
}

#detail-container {
  position: absolute;
  display: block;
  column-count: 3;
  height: 80%;
  width: 80%;
}
